.centered {
  margin-left: 50px;
}

.main-nav-subtitle {
  text-decoration: underline;
  margin-left: 20px;
}
.main-navbar {
  background-color: rgb(16,115,206) !important;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  text-decoration-color: lightblue;
}

.right-nav-panel {
  float: left;
  width: 300px;
}

.group-info {
  margin-right: auto;
  width: 700px;
}

.group-member {
  list-style: none;
}
.veggie-option {
  box-sizing: border-box;
  padding: 0 8px; }

.veggie-option .md-item-text {
  padding: 8px;
  background: #f0f0f0;
  border-radius: 3px; }

.veggie-option .md-item-text h3,
.veggie-option .md-item-text p {
  padding: 0;
  margin: 0; }

.campus-map {
  background-image: url("../img/campus-map.png");
  width: 732px;
  height: 659px;
  background-size: 779px 659px;
  float:left;
}

.campus-svg {
  width: 779px;
  height: 659px;
}

.miller1 {
  background-image: url("../img/Miller1.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.miller2 {
  background-image: url("../img/Miller2.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.miller3 {
  background-image: url("../img/Miller3.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.miller4 {
  background-image: url("../img/Miller4.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.miller5 {
  background-image: url("../img/Miller5.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.miller6 {
  background-image: url("../img/Miller6.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.miller7 {
  background-image: url("../img/Miller7.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.miller8 {
  background-image: url("../img/Miller8.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}
.miller-odd-svg {
  width: 820px;
  height: 385px;
}

.dieseth1 {
  background-image: url("../img/Dieseth1.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.dieseth2 {
  background-image: url("../img/Dieseth2.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.dieseth3 {
  background-image: url("../img/Dieseth3.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.dieseth4 {
  background-image: url("../img/Dieseth4.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.dieseth5 {
  background-image: url("../img/Dieseth5.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.dieseth6 {
  background-image: url("../img/Dieseth6.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.dieseth7 {
  background-image: url("../img/Dieseth7.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.dieseth8 {
  background-image: url("../img/Dieseth8.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}
.dieseth-odd-svg {
  width: 820px;
  height: 385px;
}
.dieseth-even {
  background-image: url("../img/dieseth-even.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.dieseth-even-svg {
  width: 820px;
  height: 385px;
}

.larsenB {
  background-image: url("../img/larsenB.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}
.larsenB-svg {
  width: 820px;
  height: 385px;
}


.larsen1 {
  background-image: url("../img/larsen1.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}
.larsen1-svg {
  width: 820px;
  height: 385px;
}

.larsen2 {
  background-image: url("../img/larsen2.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}
.larsen2-svg {
  width: 820px;
  height: 385px;
}

.larsen3 {
  background-image: url("../img/larsen3.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}



.olson1 {
  background-image: url("../img/Olson1.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}
.larsen-svg {
  width: 820px;
  height: 385px;
}

.olson2 {
  background-image: url("../img/Olson2.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.olson3 {
  background-image: url("../img/Olson3.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.clickable-building {
  opacity: 0;
}
.clickable-building:focus {
  outline: none;
}

.clickable-building-hover {
  opacity: .5;
  stroke-width: 5px;
  stroke: #0000ee;
}

.clickable-room {
  opacity: 0;
}
.clickable-room:focus {
  outline: none;
}
.clickable-room:hover {
  opacity: .5;
  cursor: pointer;
}

.room-taken {
  opacity: .6 !important;
}

.clickable-building:hover {
  opacity: .5;
  cursor: pointer;
  stroke-width: 8px;
  stroke: #0000ee;
}

.admin-panel {
  margin-right: auto;
  width: 975px;
}

.manual-add-students-left {
  width: 45%;
  float: left;
  margin-bottom: 10px;
}

.manual-add-students-right {
  width: 40%;
  float: right;
  margin-bottom: 10px;
}

.manual-add-students-step3 {
  clear: both;
}

.manual-add-student {
  background-color: white !important;
  margin-bottom: 10px;
}

.select-building-name {
  width: 120px;
}

.manually-assign-button {
  display: block;
  margin-top: 10px;
}

.dialog-h2 {
  font-size: 2.100rem !important;
  font-weight: 400 !important;
  line-height: 3.2rem !important;
}

.dialog-h3 {
  font-size: 1.600rem !important;
  font-weight: 400 !important;
  line-height: 2.0rem !important;
}

.manual-fix-input-label {
  /* TODO: Make this like the md-switch-position-fix*/
  position: relative;
  top: 5px;

}

.md-switch-position-fix {
  margin-top: 21px;
  margin-bottom: 16px;
  margin-right: 10px;
  align-items: center;
}

.admin-sidenav {
  width: 500px !important;
}

.manual-remove-students-left {
  width: 40%;
  float: left;
  margin-bottom: 10px;
}

.manual-remove-students-right {
  width: 45%;
  float: right;
  margin-bottom: 10px;
}

.floorpicker {
  width: 50px;
  display: inline-block;
}

.deadline-div {
  margin-top: 20px;
  margin-bottom: 10px;
}

.time-interval-select {
  width: 70px;
  display: inline-block;
}
