.centered {
  margin-left: 50px;
}

.main-nav-subtitle {
  text-decoration: underline;
  margin-left: 20px;
}
.main-navbar {
  background-color: rgb(16,115,206) !important;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  text-decoration-color: lightblue;
}

.right-nav-panel {
  float: left;
  width: 300px;
}

.group-info {
  margin-right: auto;
  width: 700px;
}

.group-member {
  list-style: none;
}
.veggie-option {
  box-sizing: border-box;
  padding: 0 8px; }

.veggie-option .md-item-text {
  padding: 8px;
  background: #f0f0f0;
  border-radius: 3px; }

.veggie-option .md-item-text h3,
.veggie-option .md-item-text p {
  padding: 0;
  margin: 0; }

.campus-map {
  background-image: url("../img/campus-map.png");
  width: 732px;
  height: 659px;
  background-size: 779px 659px;
  float:left;
}

.campus-svg {
  width: 779px;
  height: 659px;
}

.miller-odd {
  background-image: url("../img/miller-odd.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.miller-odd-svg {
  width: 820px;
  height: 385px;
}
.miller-even {
  background-image: url("../img/miller-even.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.miller-even-svg {
  width: 820px;
  height: 385px;
}

.dieseth-odd {
  background-image: url("../img/dieseth-odd.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.dieseth-odd-svg {
  width: 820px;
  height: 385px;
}
.dieseth-even {
  background-image: url("../img/dieseth-even.png");
  width: 820px;
  height: 385px;
  background-size: 820px 385px;
  float:left;
}

.dieseth-even-svg {
  width: 820px;
  height: 385px;
}

.larsen1 {
  background-image: url("../img/larsen1.png");
  width: 850px;
  height: 385px;
  background-size: 850px 385px;
  float:left;
}
.larsen1-svg {
  width: 850px;
  height: 385px;
}

.larsen2 {
  background-image: url("../img/larsen2.png");
  width: 850px;
  height: 385px;
  background-size: 850px 385px;
  float:left;
}
.larsen2-svg {
  width: 850px;
  height: 385px;
}

.larsen3 {
  background-image: url("../img/larsen3.png");
  width: 850px;
  height: 385px;
  background-size: 850px 385px;
  float:left;
}
.larsen3-svg {
  width: 820px;
  height: 385px;
}
.clickable-building {
  opacity: 0;
}
.clickable-building:focus {
  outline: none;
}

.clickable-building-hover {
  opacity: .5;
  stroke-width: 5px;
  stroke: #0000ee;
}

.clickable-room {
  opacity: 0;
}
.clickable-room:focus {
  outline: none;
}
.clickable-room:hover {
  opacity: .5;
  cursor: pointer;
}

.room-taken {
  opacity: .6 !important;
}

.clickable-building:hover {
  opacity: .5;
  cursor: pointer;
  stroke-width: 8px;
  stroke: #0000ee;
}

.admin-panel {
  margin-right: auto;
  width: 900px;
}

.manual-add-students-left {
  width: 45%;
  float: left;
  margin-bottom: 10px;
}

.manual-add-students-right {
  width: 40%;
  float: right;
  margin-bottom: 10px;
}

.manual-add-students-step3 {
  clear: both;
}

.manual-add-student {
  background-color: white !important;
}

.select-building-name {
  width: 120px;
}

.manually-assign-button {
  display: block;
  margin-top: 10px;
}

.admin-sidenav {
  width: 500px !important;
}
