.floor-plan {
  height: 620px;
  width: 800px;
  background-color: lightblue;
  background-position: right;
  border-style: inset;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.main-nav-subtitle {
  text-decoration: underline;
  margin-left: 20px;
}
.main-navbar {
  background-color: rgb(16,115,206) !important;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  text-decoration-color: lightblue;
}

.right-panel {
  float: right;
  width: 40%;
}

.group-info {
  margin-left: auto;
  margin-right: auto;
}

.group-info-left {
  border-right: 1px solid gray;
  text-align: center;
}

.group-info-right {
  border-left: 1px solid gray;
  text-align: center;
}

.group-member {
  list-style: none;
}

.hr-card {
  width: 90%;
}

.campus-map {
  background-image: url("../img/campus-map.jpg");
  width: 696px;
  height: 901px;
  background-size: 696px 901px;
  float:left;
}

.temporary {
  background-image: url("../img/temp.jpg");
  width: 500px;
  height: 500px;
  background-size: 500px 500px;
  float:left;
}

.temporary-svg {
  width: 500px;
  height: 500px;
}

.campus-svg {
  width: 696px;
  height: 901px;
}

.clickable-building {
  opacity: 0;
}

.clickable-building:hover {
  opacity: .5;
  cursor: pointer;
  stroke-width: 8px;
  stroke: #0000ee;
}
