<div>
  <h3 class="main-nav-subtitle"> Click on a building on campus to look at available rooms!</h3>
  <!-- Campus map -->
  <div class="campus-map" ng-show="currentBuilding == 'campus';">
    <svg class="campus-svg">
      <polygon ng-class="{ 'clickable-building-hover': buildingDict['Dieseth'] }" class="clickable-building" points="501,294 500,296 498,294 495,298 496,300 496,301 502,310 503,311 504,312 505,312 505,312 512,316 514,315 516,316 519,313 518,310 519,309 513,301 510,299 502,294" ng-click="navigate('Dieseth')"></polygon>
      <polygon ng-class="{ 'clickable-building-hover': buildingDict['Miller'] }" class="clickable-building" points="534,333 534,333 530,335 530,337 528,338 530,345 529,346 531,349 531,349 537,358 539,358 541,360 544,358 545,355 546,355 544,345 542,340 538,335 " ng-click="navigate('Miller')"></polygon>
      <polygon ng-class="{ 'clickable-building-hover': buildingDict['Larsen'] }" class="clickable-building" points="166,306 170,308 169,311 166,310 163,321 146,319 147,316 145,314 146,310 156,311 148,310 156,311 157,303 148,300 147,299 148,296 150,296 150,294 166,296" ng-click="navigate('Larsen')"></polygon>
      <polygon ng-class="{ 'clickable-building-hover': buildingDict['Olson'] }" class="clickable-building" points="108,317 108,321 110,322 110,324 109,324 108,345 110,346 110,353 103,353 104,366 103,375 105,375 105,377 103,378 103,382 95,382 96,352 99,351 99,346 101,345 100,330 101,317" ng-click="navigate('Olson')"></polygon>
    </svg>
  </div>
  <div ng-show="currentBuilding !== 'campus'">
    <p>Welcome to {{ currentBuilding }}!</p>
    <div class="form-group">
      <label for="floorpicker">Floor number:</label>
      <md-select class="floorpicker" id="floorpicker" ng-model="floorNumber">
        <md-option ng-value="floorNum" ng-repeat="floorNum in floorList">{{ floorNum }}</option>
      </select>
    </div>

    <!-- This is where we actually show the floor plan -->
    <div ng-repeat="floorClass in floorMiClasses track by $index" ng-class="floorClass" ng-show="currentBuilding === 'Miller' && floorNumber == ($index + 1)">
      <svg class="miller-odd-svg">
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '01'].isTaken}" class="clickable-building" points="8,134 16,187 109,188 101,120" ng-click="toggleRight(floorNumber, '01')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '03'].isTaken}" class="clickable-building" points="95,61 149,52 163,135 109,144" ng-click="toggleRight(floorNumber, '03')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '05'].isTaken}" class="clickable-building" points="154,51 210,44 224,125 167,134" ng-click="toggleRight(floorNumber, '05')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '07'].isTaken}" class="clickable-building" points="215,41 269,34 284,114 227,124" ng-click="toggleRight(floorNumber, '07')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '09'].isTaken}" class="clickable-building" points="275,33 331,24 345,104 287,114" ng-click="toggleRight(floorNumber, '09')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '11'].isTaken}" class="clickable-building" points="336,24 406,12 412,94 348,103" ng-click="toggleRight(floorNumber, '11')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '13'].isTaken}" class="clickable-building" points="412,13 481,22 464,101 416,94" ng-click="toggleRight(floorNumber, '13')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '15'].isTaken}" class="clickable-building" points="485,23 541,32 524,112 467,102" ng-click="toggleRight(floorNumber, '15')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '17'].isTaken}" class="clickable-building" points="545,33 599,39 582,121 527,113" ng-click="toggleRight(floorNumber, '17')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '19'].isTaken}" class="clickable-building" points="605,40 663,50 644,132 588,122" ng-click="toggleRight(floorNumber, '19')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '21'].isTaken}" class="clickable-building" points="667,50 727,61 715,142 648,133" ng-click="toggleRight(floorNumber, '21')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '23'].isTaken}" class="clickable-building" points="812,135 805,189 711,188 720,121" ng-click="toggleRight(floorNumber, '23')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '02'].isTaken}" class="clickable-building" points="17,191 7,250 96,263 102,239 109,190" ng-click="toggleRight(floorNumber, '02')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '04'].isTaken}" class="clickable-building" points="149,331 90,322 104,241 164,251" ng-click="toggleRight(floorNumber, '04')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '06'].isTaken}" class="clickable-building" points="208,339 154,332 167,252 224,261" ng-click="toggleRight(floorNumber, '06')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '08'].isTaken}" class="clickable-building" points="269,349 214,340 226,262 284,271" ng-click="toggleRight(floorNumber, '08')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '10'].isTaken}" class="clickable-building" points="330,359 271,350 286,271 344,280" ng-click="toggleRight(floorNumber, '10')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '12'].isTaken}" class="clickable-building" points="411,370 486,359 468,282 415,290" ng-click="toggleRight(floorNumber, '12')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '14'].isTaken}" class="clickable-building" points="491,358 547,350 529,272 473,282" ng-click="toggleRight(floorNumber, '14')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '16'].isTaken}" class="clickable-building" points="551,349 606,339 589,263 534,272" ng-click="toggleRight(floorNumber, '16')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '18'].isTaken}" class="clickable-building" points="611,340 668,332 649,253 593,262" ng-click="toggleRight(floorNumber, '18')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '20'].isTaken}" class="clickable-building" points="673,330 727,322 713,243 655,252" ng-click="toggleRight(floorNumber, '20')"></polygon>
        <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '22'].isTaken}" class="clickable-building" points="803,194 813,248 722,260 710,194" ng-click="toggleRight(floorNumber, '22')"></polygon>
      </svg>
    </div>
  </div>

  <div ng-repeat="floorClass in floorDiClasses track by $index" ng-class="floorClass" ng-show="currentBuilding === 'Dieseth' && floorNumber == ($index + 1)">
    <svg class="dieseth-odd-svg">
      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '01'].isTaken}" class="clickable-building" points="1,137 99,120 109,190 15,191" ng-click="toggleRight(floorNumber, '01')"></polygon>
      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '02'].isTaken}" class="clickable-building" points="16,196 6,248 103,264 109,194" ng-click="toggleRight(floorNumber, '02')"></polygon>

      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '03'].isTaken}" class="clickable-building" points="94,60 149,51 162,135 110,144" ng-click="toggleRight(floorNumber, '03')"></polygon>
      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '04'].isTaken}" class="clickable-building" points="112,242 165,251 152,334 97,325" ng-click="toggleRight(floorNumber, '04')"></polygon>

      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '05'].isTaken}" class="clickable-building" points="154,51 212,42 225,125 166,135" ng-click="toggleRight(floorNumber, '05')"></polygon>
      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '06'].isTaken}" class="clickable-building" points="168,252 227,261 213,343 156,335" ng-click="toggleRight(floorNumber, '06')"></polygon>

      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '07'].isTaken}" class="clickable-building" points="216,41 271,32 284,115 228,125" ng-click="toggleRight(floorNumber, '07')"></polygon>
      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '08'].isTaken}" class="clickable-building" points=" 218,343 274,352 286,271 231,262" ng-click="toggleRight(floorNumber, '08')"></polygon>

      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '09'].isTaken}" class="clickable-building" points="276,32 330,24 344,104 288,113" ng-click="toggleRight(floorNumber, '09')"></polygon>
      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '10'].isTaken}" class="clickable-building" points="291,273 346,282 333,362 278,354" ng-click="toggleRight(floorNumber, '10')"></polygon>

      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '11'].isTaken}" class="clickable-building" points="334,22 392,14 405,93 348,103" ng-click="toggleRight(floorNumber, '11')"></polygon>
      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '12'].isTaken}" class="clickable-building" points="337,362 410,374 426,371 412,292 350,282" ng-click="toggleRight(floorNumber, '12')"></polygon>

      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '13'].isTaken}" class="clickable-building" points="396,14 410,12 487,24 475,104 409,92" ng-click="toggleRight(floorNumber, '13')"></polygon>
      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '14'].isTaken}" class="clickable-building" points="493,360 548,351 536,272 481,281" ng-click="toggleRight(floorNumber, '14')"></polygon>

      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '15'].isTaken}" class="clickable-building" points="491,25 546,34 534,114 479,104" ng-click="toggleRight(floorNumber, '15')"></polygon>
      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '16'].isTaken}" class="clickable-building" points="553,350 608,342 596,260 541,270" ng-click="toggleRight(floorNumber, '16')"></polygon>

      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '17'].isTaken}" class="clickable-building" points="551,35 606,43 593,124 538,114" ng-click="toggleRight(floorNumber, '17')"></polygon>
      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '18'].isTaken}" class="clickable-building" points="613,341 669,331 657,250 600,260" ng-click="toggleRight(floorNumber, '18')"></polygon>

      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '19'].isTaken}" class="clickable-building" points="610,44 666,54 653,135 598,125" ng-click="toggleRight(floorNumber, '19')"></polygon>

      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '20'].isTaken}" class="clickable-building" points="674,330 729,322 715,241 661,250" ng-click="toggleRight(floorNumber, '20')"></polygon>
      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '21'].isTaken}" class="clickable-building" points="671,55 726,63 712,144 658,135" ng-click="toggleRight(floorNumber, '21')"></polygon>

      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '22'].isTaken}" class="clickable-building" points="723,264 713,214 714,194 805,195 814,249" ng-click="toggleRight(floorNumber, '22')"></polygon>
      <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '23'].isTaken}" class="clickable-building" points="722,120 712,158 712,191 804,191 814,137" ng-click="toggleRight(floorNumber, '23')"></polygon>
    </svg>
  </div>
</div>

<div class = "larsen1" ng-show="currentBuilding === 'Larsen' && floorNumber == 1">
  <svg class="larsen1-svg">

    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '01'].isTaken}" class="clickable-building" points="291,38 410,38 410,109 289,108" ng-click="toggleRight(floorNumber, '01')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '02'].isTaken}" class="clickable-building" points="415,14 571,14 571,109 415,109" ng-click="toggleRight(floorNumber, '02')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '03'].isTaken}" class="clickable-building" points="641,14 795,14 796,66 641,66" ng-click="toggleRight(floorNumber, '03')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '04'].isTaken}" class="clickable-building" points="641,70 796,70 795,117 640,117" ng-click="toggleRight(floorNumber, '04')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '05'].isTaken}" class="clickable-building" points="641,158 796,158 796,208 641,208" ng-click="toggleRight(floorNumber, '05')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '06'].isTaken}" class="clickable-building" points="640,211 795,212 796,252 639,251" ng-click="toggleRight(floorNumber, '06')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '07'].isTaken}" class="clickable-building" points="641,255 796,255 796,304 640,303" ng-click="toggleRight(floorNumber, '07')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '12'].isTaken}" class="clickable-building" points="408,253 570,253 571,303 407,303" ng-click="toggleRight(floorNumber, '12')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '13'].isTaken}" class="clickable-building" points="408,196 571,196 571,250 407,250" ng-click="toggleRight(floorNumber, '13')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '16'].isTaken}" class="clickable-building" points="263,138 402,138 401,196 262,196" ng-click="toggleRight(floorNumber, '16')"></polygon>
  </svg>
</div>

<div class="larsenB" ng-show="currentBuilding === 'Larsen' && floorNumber == 'B'">
  <svg class="larsenB-svg">

    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '08'].isTaken}" class="clickable-building" points="181,291 343,292 343,383 181,383" ng-click="toggleRight(floorNumber, '08')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '07'].isTaken}" class="clickable-building" points="474,301 637,301 637,383 475,383" ng-click="toggleRight(floorNumber, '07')"></polygon>

    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '06'].isTaken}" class="clickable-building" points="475,223 637,223 637,299 474,299" ng-click="toggleRight(floorNumber, '06')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '05'].isTaken}" class="clickable-building" points="474,144 636,144 636,222 474,222" ng-click="toggleRight(floorNumber, '05')"></polygon>
  </svg>
</div>


<div ng-repeat="floorClass in floorLaClasses track by $index" ng-class="floorClass" ng-show="currentBuilding === 'Larsen' && floorNumber == ($index + 2)">
  <svg class="larsen2-svg">
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '00'].isTaken}" class="clickable-building" points="462,80 524,79 524,156 462,156" ng-click="toggleRight(floorNumber, '00')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '01'].isTaken}" class="clickable-building" points="527,80 584,79 585,156 527,156" ng-click="toggleRight(floorNumber, '01')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '02'].isTaken}" class="clickable-building" points="587,43 676,43 677,155 588,155" ng-click="toggleRight(floorNumber, '02')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '03'].isTaken}" class="clickable-building" points="699,14 802,14 803,62 699,62" ng-click="toggleRight(floorNumber, '03')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '04'].isTaken}" class="clickable-building" points="699,64 803,64 803,112 699,112" ng-click="toggleRight(floorNumber, '04')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '05'].isTaken}" class="clickable-building" points="699,114 803,114 803,164 699,164" ng-click="toggleRight(floorNumber, '05')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '06'].isTaken}" class="clickable-building" points="699,198 803,198 803,235 699,235" ng-click="toggleRight(floorNumber, '06')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '07'].isTaken}" class="clickable-building" points="699,238 803,238 803,283 699,283" ng-click="toggleRight(floorNumber, '07')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '08'].isTaken}" class="clickable-building" points="699,286 802,286 803,325 699,326" ng-click="toggleRight(floorNumber, '08')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '09'].isTaken}" class="clickable-building" points="699,328 803,328 803,369 699,369" ng-click="toggleRight(floorNumber, '09')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '10'].isTaken}" class="clickable-building" points="591,332 678,332 678,369 591,369" ng-click="toggleRight(floorNumber, '10')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '11'].isTaken}" class="clickable-building" points="591,291 678,292 678,330 591,329" ng-click="toggleRight(floorNumber, '11')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '12'].isTaken}" class="clickable-building" points="591,246 678,245 678,290 591,290" ng-click="toggleRight(floorNumber, '12')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '13'].isTaken}" class="clickable-building" points="591,211 678,211 678,243 591,243" ng-click="toggleRight(floorNumber, '13')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '16'].isTaken}" class="clickable-building" points="526,176 587,176 587,241 526,241" ng-click="toggleRight(floorNumber, '16')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '17'].isTaken}" class="clickable-building" points="460,176 522,176 522,241 460,241" ng-click="toggleRight(floorNumber, '17')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '18'].isTaken}" class="clickable-building" points="381,176 458,176 458,241 381,241" ng-click="toggleRight(floorNumber, '18')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '19'].isTaken}" class="clickable-building" points="304,176 377,176 378,241 303,241" ng-click="toggleRight(floorNumber, '19')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '20'].isTaken}" class="clickable-building" points="235,176 300,176 300,241 235,241" ng-click="toggleRight(floorNumber, '20')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '23'].isTaken}" class="clickable-building" points="144,205 232,205 233,241 145,241" ng-click="toggleRight(floorNumber, '23')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '24'].isTaken}" class="clickable-building" points="144,243 232,243 233,283 145,282" ng-click="toggleRight(floorNumber, '24')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '25'].isTaken}" class="clickable-building" points="145,285 145,324 232,324 232,285" ng-click="toggleRight(floorNumber, '25')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '26'].isTaken}" class="clickable-building" points="144,368 144,326 232,326 232,368" ng-click="toggleRight(floorNumber, '26')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '27'].isTaken}" class="clickable-building" points="17,330 119,329 119,368 17,368" ng-click="toggleRight(floorNumber, '27')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '28'].isTaken}" class="clickable-building" points="17,287 119,287 119,326 17,326" ng-click="toggleRight(floorNumber, '28')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '29'].isTaken}" class="clickable-building" points="17,246 119,246 119,284 17,284" ng-click="toggleRight(floorNumber, '29')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '30'].isTaken}" class="clickable-building" points="18,198 119,198 119,243 17,242" ng-click="toggleRight(floorNumber, '30')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '31'].isTaken}" class="clickable-building" points="18,153 119,152 118,195 17,195" ng-click="toggleRight(floorNumber, '31')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '32'].isTaken}" class="clickable-building" points="17,63 118,64 119,118 17,117" ng-click="toggleRight(floorNumber, '32')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '33'].isTaken}" class="clickable-building" points="17,13 119,14 119,60 17,60" ng-click="toggleRight(floorNumber, '33')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '34'].isTaken}" class="clickable-building" points="145,43 233,43 234,156 144,156" ng-click="toggleRight(floorNumber, '34')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '35'].isTaken}" class="clickable-building" points="237,79 302,80 302,156 237,156" ng-click="toggleRight(floorNumber, '35')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '36'].isTaken}" class="clickable-building" points="305,79 379,80 378,156 305,156" ng-click="toggleRight(floorNumber, '36')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '37'].isTaken}" class="clickable-building" points="382,80 458,79 459,156 381,156" ng-click="toggleRight(floorNumber, '37')"></polygon>


  </svg>
</div>

<div class = "olson1" ng-class="floorClass" ng-show="currentBuilding === 'Olson' && floorNumber == 1">
  <svg class="larsen2-svg">

    <polygon class="clickable-building" points="4,26 191,26 191,168 4,168" ng-click="toggleRight(floorNumber, '01')"></polygon>
    <polygon class="clickable-building" points="4,219 69,219 69,361 3,361" ng-click="toggleRight(floorNumber, '02')"></polygon>
    <polygon class="clickable-building" points="72,219 146,219 147,361 72,361" ng-click="toggleRight(floorNumber, '04')"></polygon>
    <polygon class="clickable-building" points="298,26 504,26 504,168 298,168" ng-click="toggleRight(floorNumber, '05')"></polygon>
    <polygon class="clickable-building" points="204,219 399,219 398,361 204,360" ng-click="toggleRight(floorNumber, '06')"></polygon>
    <polygon class="clickable-building" points="508,26 693,26 693,168 507,168" ng-click="toggleRight(floorNumber, '07')"></polygon>
    <polygon class="clickable-building" points="402,219 608,219 608,361 402,361" ng-click="toggleRight(floorNumber, '08')"></polygon>
    <polygon class="clickable-building" points="697,26 817,26 816,168 697,168 " ng-click="toggleRight(floorNumber, '09')"></polygon>
    <polygon class="clickable-building" points="611,219 816,219 816,361 611,360" ng-click="toggleRight(floorNumber, '10')"></polygon>
  </svg>
</div>

<div class = "olson2" ng-class="floorClass" ng-show="currentBuilding === 'Olson' && floorNumber == 2">
  <svg class="larsen2-svg">

    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '01'].isTaken}" class="clickable-building" points="4,5 191,5 191,155 4,155" ng-click="toggleRight(floorNumber, '01')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '02'].isTaken}" class="clickable-building" points="69,359 69,209 3,209 3,359 " ng-click="toggleRight(floorNumber, '02')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '04'].isTaken}" class="clickable-building" points="72,209 147,209 147,359 72,359" ng-click="toggleRight(floorNumber, '04')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '05'].isTaken}" class="clickable-building" points="298,5 504,5 504,155 298,155 " ng-click="toggleRight(floorNumber, '05')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '06'].isTaken}" class="clickable-building" points="204,359 398,359 398,209 204,209" ng-click="toggleRight(floorNumber, '06')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '07'].isTaken}" class="clickable-building" points="507,5 693,5 693,155 507,155" ng-click="toggleRight(floorNumber, '07')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '08'].isTaken}" class="clickable-building" points="402,209 607,209 608,359 402,359" ng-click="toggleRight(floorNumber, '08')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '10'].isTaken}" class="clickable-building" points="611,209 816,209 816,359 611,359" ng-click="toggleRight(floorNumber, '10')"></polygon>
  </svg>
</div>

<div class = "olson3" ng-show="currentBuilding === 'Olson' && floorNumber == 3">
  <svg class="larsen2-svg">

<polygon ng-class="{'room-taken': occupantsDict[floorNumber + '48'].isTaken}" class="clickable-building" points="4,26 79,25 79,171 4,171" ng-click="toggleRight(floorNumber, '48')"></polygon>
<polygon ng-class="{'room-taken': occupantsDict[floorNumber + '46'].isTaken}" class="clickable-building" points="82,25 154,25 154,171 82,171 " ng-click="toggleRight(floorNumber, '46')"></polygon>

    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '44'].isTaken}" class="clickable-building" points="200,26 286,25 287,169 200,170" ng-click="toggleRight(floorNumber, '44')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '42'].isTaken}" class="clickable-building" points="290,24 378,24 377,170 290,169" ng-click="toggleRight(floorNumber, '42')"></polygon>


    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '40'].isTaken}" class="clickable-building" points="380,24 461,23 461,169 380,169" ng-click="toggleRight(floorNumber, '40')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '38'].isTaken}" class="clickable-building" points="464,24 551,23 551,170 464,171" ng-click="toggleRight(floorNumber, '38')"></polygon>

    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '36'].isTaken}" class="clickable-building" points="554,25 639,23 638,170 554,169" ng-click="toggleRight(floorNumber, '36')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '34'].isTaken}" class="clickable-building" points="642,25 715,25 715,171 642,170" ng-click="toggleRight(floorNumber, '34')"></polygon>

    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '32'].isTaken}" class="clickable-building" points="719,25 792,24 790,169 718,170" ng-click="toggleRight(floorNumber, '32')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '45'].isTaken}" class="clickable-building" points="3,213 80,212 79,358 3,358" ng-click="toggleRight(floorNumber, '45')"></polygon>

    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '43'].isTaken}" class="clickable-building" points="83,212 155,212 155,358 83,358" ng-click="toggleRight(floorNumber, '43')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '41'].isTaken}" class="clickable-building" points="290,212 377,213 377,358 290,358" ng-click="toggleRight(floorNumber, '41')"></polygon>

    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '39'].isTaken}" class="clickable-building" points="380,212 462,212 462,358 380,357" ng-click="toggleRight(floorNumber, '39')"></polygon>
    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '37'].isTaken}" class="clickable-building" points="465,213 552,212 552,358 466,358" ng-click="toggleRight(floorNumber, '37')"></polygon>

    <polygon ng-class="{'room-taken': occupantsDict[floorNumber + '35'].isTaken}" class="clickable-building" points="556,212 639,212 637,358 555,358" ng-click="toggleRight(floorNumber, '35')"></polygon>
  </svg>
</div>

<div class="right-nav-panel" flex-gt-sm="50" flex>

  <md-toolbar layout="row" class="main-navbar">
    <div class="md-toolbar-tools">
      <span>Buildings</span>
    </div>
  </md-toolbar>
  <md-list flex>
    <md-subheader class="md-no-sticky">Select a building to navigate to it</md-subheader>
    <md-list-item class="md-3-line" ng-repeat="building in buildingList track by $index" ng-click="navigate(building)" ng-mouseover="buildingDict[building] = true;" ng-mouseleave="buildingDict[building] = false;">
      <img ng-src="./static/img/icons/circle-{{ $index + 1 }}.png" class="md-avatar" alt="{{ $index }}"/>
      <div class="md-list-item-text" layout="column">
        <h3>{{ building }}</h3>
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>
<!-- Side nav with registration info -->
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" ng-class="{'admin-sidenav': role === 'admin'}" md-component-id="right">

  <md-toolbar class="md-theme-light main-navbar">
    <h1 class="md-toolbar-tools">{{ headerTitle }}</h1>
  </md-toolbar>
  <md-content ng-controller="RightCtrl" layout-padding>

    <div ng-show="!occupantsDict[roomNumber].isTaken">
      Capacity: {{ occupantsDict[roomNumber].capacity }}
      <br>
      Gender: {{ occupantsDict[roomNumber].gender == "M" ? "Male" : (occupantsDict[roomNumber].gender == "F" ? "Female" : "Gender neutral")}}
      <br>
      <br>
      Room currently available.
      <md-button ng-show="role !== 'admin'" class="md-primary md-raised" ng-disabled="!canRegister || numberOfGroupMembers > occupantsDict[roomNumber].capacity || (groupGender != occupantsDict[roomNumber].gender && occupantsDict[roomNumber].gender != 'B')" aria-label="Register" ng-click="registerForRoom()">Register</md-button>
      <md-button ng-show="role === 'admin'" ng-disabled="occupantsDict[roomNumber].roomOccupants.length" class="md-warn md-raised" aria-label="Turn {{ occupantsDict[roomNumber].isTaken && occupantsDict[roomNumber].roomOccupants.length < 1 ? 'On' : 'Off' }} Room" ng-click="switchRoomAvailability()">Turn {{ occupantsDict[roomNumber].isTaken && occupantsDict[roomNumber].roomOccupants.length < 1 ? 'On' : 'Off' }} Room</md-button>
    </div>

    <div ng-show="occupantsDict[roomNumber].isTaken && isLoggedIn">
      <span>Room unavailable. {{ occupantsDict[roomNumber].roomOccupants.length ? 'Current occupants:' : '' }}</span>
      <md-list>
        <md-list-item style="margin-bottom: 10px;" class="md-2-line veggie-option" ng-repeat="occupant in occupantsDict[roomNumber].roomOccupants" layout="row"
            layout-wrap>
          <div class="md-item-text md-whiteframe-z1" flex>
            <h3 class="occupant">{{ occupant.firstName }} {{ occupant.lastName }}</h3>
            <p clas="occupant">({{ occupant.userID }})</p>
          </div>
          <md-button ng-show="role === 'admin'" ng-click="removeStudentFromRoom($event, occupant)" type="submit" class="md-warn md-raised">Remove</md-button>
        </md-list-item>
      </md-list>
      <md-button ng-show="role === 'admin'" ng-disabled="occupantsDict[roomNumber].roomOccupants.length" class="md-warn md-raised" aria-label="Turn {{ occupantsDict[roomNumber].isTaken && occupantsDict[roomNumber].roomOccupants.length < 1 ? 'On' : 'Off' }} Room" ng-click="switchRoomAvailability()">Turn {{ occupantsDict[roomNumber].isTaken && occupantsDict[roomNumber].roomOccupants.length < 1 ? 'On' : 'Off' }} Room</md-button>
    </div>
    <div ng-show="occupantsDict[roomNumber].isTaken && !isLoggedIn">
      <span>Room unavailable. You must be logged in to see who is registered for this room.</span>
    </div>

    <md-button ng-click="close()" class="md-primary">
      Close SideNav
    </md-button>
  </md-content>

</md-sidenav>
<!-- <div class = "footer" > <h4> Luther College  700 College Drive  Decorah, Iowa 52101  USA </h4>
<h4> 563-387-2000  800-4-LUTHER (800-458-8437) </h4>
</div> -->
</div>
