<div>
  <h3 class="main-nav-subtitle"> Click on a building on campus to look at available rooms!</h3>
  <div class="right-panel">
    <md-card class="group-info">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Group Information</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content ng-show="isLoggedIn && hasGroup">
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Current Group Members">
            <md-content class="md-padding">
              <p ng-repeat="groupMember in groupMembers">{{ groupMember.FirstName }} {{ groupMember.LastName }} ({{ groupMember.userID }})</p>
            </md-content>
            <md-button class="md-warn md-raised" aria-label="Leave Group" ng-click="leaveGroup()">Leave Group</md-button>
          </md-tab>
          <md-tab label="Requests">
            <md-content class="md-padding">
              <p ng-repeat="requestingMember in requestingMembers">{{ requestingMember.FirstName }} {{ requestingMember.LastName }} ({{ requestingMember.userID }})
                <md-button ng-click="acceptRequest(requestingMember.userID)" class="md-icon-button" aria-label="Favorite">
                  <md-icon md-svg-icon="/static/img/icons/accept.svg"></md-icon>
                </md-button>
                <!-- TODO: Better styling for these buttons, keep them in a line -->
                <md-button ng-click="rejectRequest(requestingMember.userID)" class="md-icon-button" aria-label="Favorite">
                  <md-icon md-svg-icon="/static/img/icons/reject.svg"></md-icon>
                </md-button>
              </p>
              <p ng-show="requestingMembers.length === 0">You have no group requests.</p>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-card-content>
      <md-card-content ng-show="isLoggedIn && !hasGroup">
        <md-content class="md-padding">
          You are not currently in a group. Find a group below, or create your own group.
          <form ng-submit="$event.preventDefault()">
            <br>
            <md-autocomplete
            md-selected-item="selectedItem"
            md-search-text="searchText"
            md-items="user in querySearch(searchText)"
            md-item-text="user.displayName"
            md-min-length="0"
            placeholder="Enter the name of a person here">
            <md-item-template>
              <span md-highlight-text="searchText" md-highlight-flags="^i">{{ user.displayName }}</span>
            </md-item-template>
            <md-not-found>
              No users matching "{{searchText}}" were found.
            </md-not-found>
          </md-autocomplete>
          <md-button class="md-accent md-raised" aria-label="Send request" ng-click="requestMembership(selectedItem)"
          ng-disabled="allGroupUsers.indexOf(selectedItem) === -1">Send request</md-button>
          <md-button class="md-primary md-raised" aria-label="Create Group" ng-click="createGroup()">Create Group</md-button>
          <br>
        </form>
      </md-content>
    </md-card-content>
  </md-card>
  <!-- Campus map -->
</div>
<div class="campus-map">
  <svg class="campus-svg">
    <polygon class="clickable-building" points="291,361 297,367 291,387 273,400 265,394 270,375" ng-click="navigate('dieseth')"></polygon>
    <polygon class="clickable-building" points="328,320 335,328 325,347 309,356 300,348 308,330" ng-click="navigate('miller')"></polygon>
    <polygon class="clickable-building" points="357,745 262,746 264,757 357,756" ng-click="navigate('olson')"></polygon>
    <polygon class="clickable-building" points="271,689 243,690 243,716 272,717" ng-click="navigate('larsen')"></polygon>
  </svg>
</div>
<!-- <div class = "footer" > <h4> Luther College  700 College Drive  Decorah, Iowa 52101  USA </h4>
<h4> 563-387-2000  800-4-LUTHER (800-458-8437) </h4>
</div> -->
</div>
