<div>
  <h1 class = "head"> Room Draw Applications <span class="alignright">  Luther College </span> </h1>
  <h3> Welcome to {{ buildingName }} Hall </h3>
  <div class="form-group">
    <label for="floorpicker">Please select a Floor number:</label>  <span>   <select class="form-control" id="floorpicker" ng-model="floorNumber" ng-init="floorNumber = '1'">
      <option ng-repeat="floorNum in getFloorNumbers()">{{ floorNum }}</option>
    </select>
  </span>
  </div>

  <!-- This is where we actually show the floor plan -->
  <div>
    <img class="floor-plan"  ng-src="../img/{{buildingName + floorNumber}}.png">
  </div>

</div>
<div class = "footer" > <h4> Luther College  700 College Drive  Decorah, Iowa 52101  USA </h4>
                               <h4> 563-387-2000  800-4-LUTHER (800-458-8437) </h4>
</div>
