<div>
  <!-- Campus map -->
  Click on a building on campus to look at available rooms!
  <div>
    <img src="../img/campus-map.jpg" usemap="#clickableMap"></img>
    <map name="clickableMap">
      <area shape="poly" class="clickable-building" coords="291,361,297,367,291,387,273,400,265,394,270,375" ng-click="navigate('dieseth')"></rect>
      <area shape="poly" class="clickable-building" coords="328,320,335,328,325,347,309,356,300,348,308,330" ng-click="navigate('miller')"></rect>
      <area shape="poly" class="clickable-building" coords="357,745,262,746,264,757,357,756" ng-click="navigate('olson')"></rect>
      <area shape="poly" class="clickable-building" coords="271,689,243,690,243,716,272,717" ng-click="navigate('larsen')"></rect>
    </svg>
  </div>
</div>
